<header>
  <div class="header_container">
    <div class="dropdown">
      <button class="dropdown-toggle"><img src="/menu.svg" alt=""></button>
      <div class="dropdown-menu">
        <a href="/home">Home</a>
        <a href="#" id="uploadFile">Upload File</a>
        <a href="#" id="addFolder">Add New Folder</a>
        <a href="/logout">Logout</a>
      </div>
    </div>
    <h1 class="site_title" id="site_name">
      <a href="/home">File Uploader</a>
    </h1>
  </div>
</header>
